
body {
    background-color: #5d5e60; /* Light grayish background */
    margin: 0;
    font-family: Arial, sans-serif,bold;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 50px;
    

}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-color: #333;
    
}

@media screen and (max-width: 768px) {
    body {
        font-size: 18px;  /* Smaller font size for mobile */
    }

    .container {
        width: 100%;  /* Full-width container on small screens */
        padding: 10px;
    }

    /* Add other mobile-specific styles here */
}

.services {
    padding: 60px 20px;
    background-color: #5d5e60; /* Light gray background */
    text-align: center;
}

.services h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #3498db; /* Dark blue-gray */
}

.services p {
    font-size: 16px;
    color: black;
    max-width: 800px;
    margin: 0 auto 40px;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    gap: 20px;
    max-width: 100%;
    margin: 20px auto;
    overflow: hidden;
}



.service img {
    width: 50%;
    height: auto;
    border-radius: 5px;
}

.service p em {
    font-size: 15px;
}

.text-content {
    width: 55%;
    text-align: left;
}

.text-content h3 {
    font-size: 24px;
    color: #3498db; /* Blue heading */
    margin-bottom: 10px;
}

.text-content p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

.text-content p em {
    font-style: italic;
    color: #2c3e50; /* Dark gray-blue for emphasis */
}

.service:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}
