/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 2.5;
}

/* Navbar Styles */
.navbar {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: grey;
    color: white;
    padding: 10px 20px;
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.brand {
    font-size: 20px;
    font-weight: bold;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* Hero Section */
.hero {
    background-color: white;
    padding: 100px 20px;
    text-align: center;
}
.hero-image {
    flex: 1;
    text-align: center;
}

.hero-image img {
    max-width: 100%;
    height: 50%;
    border-radius: 10px;
}
.btn {
    width: 200px;
    text-align: center;
    position: absolute; /* Absolute position for mobile layout */
    bottom: 20px; /* Align the button to the bottom */
    left: 50%;
    display: inline-block;
    padding: 15px 25px;
    background: #ff9900;
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: bold;
    transform: translateX(-50%);
}

/* Mobile Styles */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: grey;
        position: absolute;
        top: 50px;
        right: 0;
        width: 200px;
        padding: 10px;
        border-radius: 5px;
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .btn {
        position: absolute; /* Fix button to the bottom */
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }
}
